#wrapper {

}

#versionswrapper {
  min-height: auto;
}

#equipementswrapper {
  min-height: auto;
  overflow: visible;
}
#exchangeswrapper {
  min-height: auto;
}
#summaryswrapper {
  min-height: auto;
}
#leasingswrapper {
  min-height: auto;
}
#salechargeswrapper {
  min-height: auto;
}
