<div style="padding: 6px;">
    {{#each items}}
        <div class="mdl-shadow--2dp" style="padding: 10px">
            {{this.code}} - {{this.name}} ({{this.constructorId}}) <br/>
            PREZZO: {{toCurrency(this.priceReal)}}<br/>
            <div class="mdl-currency-usd mdl-js-currency-usd mdl-currency-usd--floating-label">
                <input onkeyup="this.form.updateSummary('{{this.id}}', this.value)" value="{{this.offeredPrice}}"
                       class="mdl-currency-usd__input" type="text" id="e_summary_price_{{this.id}}">
                <label class="mdl-currency-usd__label" for="e_summary_price_{{this.id}}">
                    PREZZO PROPOSTO
                </label>
                <div class="mdl-currency-usd__symbol">€</div>
                <span class="mdl-currency-usd__error">#.##</span>
            </div>
            <br/>
        </div>
    {{/each}}
    <div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input onkeyup="this.form.updateMainSummary('payment', this.value)" value="{{summary.payment}}"
                   class="mdl-textfield__input" type="text" id="summary_payment">
            <label class="mdl-textfield__label" for="summary_payment">
                PAGAMENTO
            </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input onkeyup="this.form.updateMainSummary('availability', this.value)" value="{{summary.availability}}"
                   class="mdl-textfield__input" type="text" id="summary_availability">
            <label class="mdl-textfield__label" for="summary_availability">
                DISPONIBILITA'
            </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input onkeyup="this.form.updateMainSummary('validity', this.value)" value="{{summary.validity}}"
                   class="mdl-textfield__input" type="number" id="summary_validity">
            <label class="mdl-textfield__label" for="summary_validity">
                VALIDITA' OFFERTA (giorni)
            </label>
        </div>
    </div>
    <br/>
    <div style="text-align: center">
        <button type="button"
                onclick="this.form.step('clients')"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            PROSEGUI
        </button>
    </div>
</div>