<form #wrapper autocomplete="off">
    <div style="text-align: center; {{on}}">
        <button type="button"
                onclick="this.form.reset()"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            RIPARTI DA ZERO
        </button>
    </div>
    <fieldset #equipementswrapper id="equipements"
            onclick="this.form.step('equipements')"
            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div #equipementstitle class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{vehicles.versions.title}}
        </div>
        <div #equipements>

        </div>
    </fieldset>
    <fieldset #salechargeswrapper id="salecharges"
              onclick="this.form.step('salecharges')"
              class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div #salechargestitle class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{vehicles.exchanges.title}}
        </div>
        <div #salecharges>

        </div>
    </fieldset>
    <fieldset #summaryswrapper id="summarys"
            onclick="this.form.step('summarys')"
            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div #summarystitle class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{vehicles.summarys.title}}
        </div>
        <div #summarys>

        </div>
    </fieldset>
    <fieldset #leasingswrapper id="leasings"
            onclick="this.form.step('leasings')"
            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div #leasingstitle class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{vehicles.leasings.title}}
        </div>
        <div #leasings>

        </div>
    </fieldset>
    <fieldset #clientswrapper id="clients"
            onclick="this.form.step('clients')"
            class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div #clientstitle class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            {{vehicles.clients.title}}
        </div>
        <div #clients>

        </div>
    </fieldset>

</form>
