<table width="100%" class="alternate-table">
    <thead>
    <tr>
        <th style="display: none;">CODICE</th>
        <th data-sort="name:text">DESCRIZIONE</th>
        <th style="display: none;">COSTRUTTORE</th>
        <th data-sort="equipmentFamily:text">FAMIGLIA</th>
        <th style="display: none;">TEMPI DI CONSEGNA</th>
        <th style="display: none;">NOTE</th>
        <th style="display: none;">INFO</th>
        <th data-sort="priceReal:number" style="min-width: 100px">PREZZO DI LISTINO</th>
        <th style="display: none;">IMMAGINE</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody #items>

    </tbody>
</table>
