<tr>
    <td style="display: none;" data-label="ID: "><a style="color: #ae0d0e;" target="_blank" href="/api/pdf/budget/equipmentbudgets/{{id}}">{{id}}</a></td>
    <td data-label="DATA: ">{{formatShortDate(created)}}</td>
    <td style="display: none;" data-label="UTENTE: ">{{user.surname}} {{user.name}}</td>
    <td data-label="NOME CLIENTE: ">{{client.name}}&nbsp;</td>
    <td style="display: none;" data-label="INDIRIZZO CLIENTE: ">{{client.address}}&nbsp;</td>
    <td style="display: none;" data-label="C/A: ">{{client.pa}} <a style="color: #ae0d0e;" href="mailto:{{client.address}}">{{client.email}}</a>&nbsp;</td>
    <td style="display: none;" data-label="ATTREZZATURE: ">{{#each equipment}}
            <a style="color: #ae0d0e;" onclick="window.navigate(this, event)"
               href="/it/esplora/attrezzature?id={{this}}">{{this}}</a>
            &nbsp;
        {{/each}}&nbsp;
    </td>
    <td style="display: none;" data-label="ORDINE: ">{{YesNo(ordered)}}</td>
</tr>
