<table width="100%" class="alternate-table">
    <thead>
    <tr>
        <th data-sort="expectedEntryDate:date" width="100px">DATA PREVISTA ENTRATA MERCE</th>
        <th data-sort="model:text">MODELLO MACCHINA</th>
        <th data-sort="availability:text"width="60px">DISPONIBILITA’ FISICA</th>
        <th style="display: none;">DESCRIZIONE</th>
        <th style="display: none;">MATRICOLA</th>
        <th style="display: none;">FOA</th>
        <th style="display: none;">MSO</th>
        <th style="display: none;">ANNO DI COSTRUZIONE</th>
        <th style="display: none;">POSIZIONAMENTO</th>
        <th style="display: none;">COMMENTO</th>
        <th style="display: none;">CARATTERISTICHE</th>
    </tr>
    </thead>
    <tbody #items>

    </tbody>
</table>
