<tr>
    <td data-label="DATA PREVISTA ENTRATA MERCE">{{formatShortDate(expectedEntryDate)}}&nbsp;</td>
    <td data-label="MODELLO MACCHINA">{{model}}&nbsp;</td>
    <td data-label="DISPONIBILITA’ FISICA">{{availability}}&nbsp;</td>
    <td style="display: none;" data-label="CARATTERISTICHE">{{description}}&nbsp;</td>
    <td style="display: none;" data-label="MATRICOLA">{{serialNumber}}&nbsp;</td>
    <td style="display: none;" data-label="FOA">{{foa}}&nbsp;</td>
    <td style="display: none;" data-label="MSO">{{mso}}&nbsp;</td>
    <td style="display: none;" data-label="ANNO DI COSTRUZIONE">{{manufactureDate}}&nbsp;</td>
    <td style="display: none;" data-label="POSIZIONAMENTO">{{positioning}}&nbsp;</td>
</tr>
