<table width="100%" class="alternate-table">
    <thead>
    <tr>
        <th style="display: none;">ID</th>
        <th data-sort="created:date">DATA</th>
        <th style="display: none;">UTENTE</th>
        <th style="display: none;">MACCHINA</th>
        <th data-sort="client.name:text">NOME CLIENTE</th>
        <th style="display: none;">INDIRIZZO CLIENTE</th>
        <th style="display: none;">C/A</th>
        <th data-sort="summary.price:number">PREZZO OFFERTO</th>
        <th style="display: none;">ATTREZZATURE</th>
        <th style="display: none;">ORDINE</th>
    </tr>
    </thead>
    <tbody #items>

    </tbody>
</table>
