<table width="100%" class="alternate-table">
    <thead>
    <tr>
        <th style="display: none;">MODELLO</th>
        <th data-sort="name:text">NOME</th>
        <th style="display: none;">DESCRIZIONE</th>
        <th style="display: none;">TEMPI DI CONSEGNA</th>
        <th style="display: none;">INFO</th>
        <th data-sort="priceReal:number" style="min-width: 100px; text-align: right; max-width: 200px;">PREZZO DI LISTINO</th>
        <th style="display: none;">IMMAGINE</th>
    </tr>
    </thead>
    <tbody #items>

    </tbody>
</table>
