<tr>
    <td style="display: none;" data-label="MODELLO: ">{{modelId}}&nbsp;</td>
    <td data-label="NOME: ">{{name}}&nbsp;</td>
    <td style="display: none;" data-label="DESCRIZIONE: ">{{description}}&nbsp;</td>
    <td style="display: none;" data-label="TEMPI DI CONSEGNA: ">{{time}}&nbsp;</td>
    <td style="display: none;" data-label="INFO: ">{{info}}&nbsp;</td>
    <td data-label="PREZZO DI LISTINO: ">{{toCurrency(priceReal)}}&nbsp;</td>
    <td style="display: none;text-align: left;" data-label="IMMAGINE: "><img src="{{src}}" style="max-width: 150px;max-height: 150px"/>&nbsp;</td>
</tr>
