<div style="padding: 6px;">
    <div style="text-align: center; {{on}}">
        Cliccando su aggiorna, modificherai il preventivo fatto anteriormente
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('name', this.value)" value="{{client.name}}" class="mdl-textfield__input" type="text" id="client_name">
        <label class="mdl-textfield__label" for="client_name">
            RAGIONE SOCIALE
        </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('address', this.value)" value="{{client.address}}" class="mdl-textfield__input" type="text" id="client_address">
        <label class="mdl-textfield__label" for="client_address">
            INDIRIZZO
        </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('cap', this.value)" value="{{client.cap}}" class="mdl-textfield__input" type="text" id="client_cap">
        <label class="mdl-textfield__label" for="client_cap">
            CAP
        </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('city', this.value)" value="{{client.city}}" class="mdl-textfield__input" type="text" id="client_city">
        <label class="mdl-textfield__label" for="client_city">
            CITTA'
        </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('province', this.value)" value="{{client.province}}" class="mdl-textfield__input" type="text" id="client_province">
        <label class="mdl-textfield__label" for="client_province">
            PROVINCIA
        </label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('email', this.value)" value="{{client.email}}" class="mdl-textfield__input" type="text" id="client_email">
        <label class="mdl-textfield__label" for="client_email">
            EMAIL
        </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input autocomplete="nope" onkeyup="this.form.updateClient('pa', this.value)" value="{{client.pa}}" class="mdl-textfield__input" type="text" id="client_pa">
        <label class="mdl-textfield__label" for="client_pa">
            CORTESE ATTENZIONE
        </label>
    </div>
    <div>
        <label class="mdl-checkbox mdl-js-checkbox" for="v_showPriceReal">
            <input {{checked(client.showPriceReal)}} type="checkbox" onchange="this.form.updateClient('showPriceReal', this.checked)" id="v_showPriceReal" class="mdl-checkbox__input">
            <span class="mdl-checkbox__label">MOSTRA PREZZO DI LISTINO</span>
        </label>
    </div>
    <br/>
    <br/>
    <div style="text-align: center; {{off}}">
        <button type="button"
                onclick="this.form.save()"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            SALVA
        </button>
    </div>
    <div style="text-align: center; {{on}}">
        <button type="button"
                onclick="this.form.save('{{budgetId}}')"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            AGGIORNA
        </button>
    </div>
</div>
