<div>
    <!--ALLEGATI:-->
    <!--{{#each files}}-->
    <!--<fieldset-->
            <!--onclick="this.form.removeFile('{{this._id}}')"-->
            <!--class="mdl-chip mdl-chip&#45;&#45;deletable">-->
        <!--<span class="mdl-chip__text">{{this.name}}</span>-->
        <!--<button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>-->
    <!--</fieldset>-->
    <!--{{/each}}-->
    <!--<br/>-->
    <!--<input type="file" onchange="this.form.uploadFile()" value="ALLEGA UN FILE" name="exchangeUpload"/>-->
</div>