<div #wrapper class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-shadow--2dp mdl-card">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            I MIEI DATI:
        </div>
        <table style="width: 100%;padding: 10px">
            <tr>
                <td>CREATO:</td>
                <td>{{formatLongDate(user.created)}} - {{formatTime(user.created)}}</td>
            </tr>
            <tr>
                <td>COGNOME:</td>
                <td>{{user.surname}}</td>
            </tr>
            <tr>
                <td>NOME:</td>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td>EMAIL: </td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td>TELEFONO: </td>
                <td>{{user.tel}}</td>
            </tr>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-shadow--2dp mdl-card">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            INTESTAZIONE E LOGO DEI PDF CREATI:
        </div>
        <div>
            <div style="width: 40%; height: 120px; float: left;">
                <input id="logged-upload-image" name="exchangeUpload" onchange="this.form.upload()" type="file" value="CARICA IL LOGO"/>
                <img src="{{logo}}" onerror="this.style.display = 'none'"
                     onload="document.getElementById('logged-upload-image').style.display = 'none'"  />
            </div>
            <div style="width: 60%; float: left; color: #999; font-size: 10px;" contenteditable="true">
                LA MIA AZIENDA<br/>
                VIA DEI COLLI 21 - 20100 LA PINETA(GR)<br/>
                Tel. +39 000 000 000 - Fax +39 000 000 000
            </div>
        </div>
        <button type="button" class="mdl-button mdl-color--accent mdl-color--black">
            SALVA
        </button>
    </div>

</div>