<div style="padding: 10px;">
    <h4>ORDINI ATTREZZATURE:</h4>
    <ul class="demo-list-three mdl-list">
        {{#each equipmentorders}}
        <li style="clear: both; min-height: 115px;padding: 8px;" class="mdl-shadow--2dp">
            <div  style="float: right; margin: 0 5px">
                <button type="button"
                        class="mdl-button mdl-js-button mdl-button--icon" id="eo_{{this._id}}">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="eo_{{this._id}}">
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.download('equipmentorders', '{{this._id}}')">SCARICA DATI ORDINE</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.preview('equipmentbudgets', '{{this.budgetId}}')">VISUALIZZA PREVENTIVO</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.delete('equipmentorders', '{{this._id}}')">ELIMINA</fieldset></li>
                </ul>
            </div>
          <span>
              {{this.equipments}}<br/>
              CREATO: {{formatLongDate(this.created)}} - h.{{formatTime(this.created)}}<br/>
              {{this.clientName}}<br/>
            PREZZO: {{toCurrency(this.price)}}
          </span>
        </li>
        {{/each}}
    </ul>
</div>
