<table width="100%" class="alternate-table">
    <thead>
    <tr>
        <th style="display: none;">CODICE</th>
        <th>DESCRIZIONE</th>
        <th style="display: none;">COSTRUTTORE</th>
        <th>FAMIGLIA</th>
        <th style="display: none;">TEMPI DI CONSEGNA</th>
        <th style="display: none;">NOTE</th>
        <th style="display: none;">INFO</th>
        <th style="min-width: 100px">PREZZO DI LISTINO</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody #items>

    </tbody>
</table>