<div style="    padding: 0 10px; text-align: right">
    <table width="100%">
        <tr>
            <td><input type="search" placeholder="CERCA..."
                       style="width: 100%;font-size: 16px;border: 1px solid gray;padding: 5px !important;height: 24px;"
                       oninput="this.form.search(this.value)"
                       onsearch="this.form.search(this.value)"/></td>
            <td><fieldset class="mdl-color-text--blue-grey-400 material-icons"
                          onclick="this.form.block(true)"
                          style="font-size: 38px; cursor: pointer;vertical-align: middle;" role="presentation">view_module
            </fieldset></td>
            <td><fieldset class="mdl-color-text--blue-grey-400 material-icons"
                          onclick="this.form.block(false)"
                          style="font-size: 38px; cursor: pointer;vertical-align: middle;" role="presentation">view_list
            </fieldset></td>
            <td><fieldset class="mdl-color-text--blue-grey-400 material-icons"
                          onclick="this.form.add('none')"
                          style="font-size: 38px; cursor: pointer;vertical-align: middle;" role="presentation">add_circle
                </fieldset>
            </td>
            <td>
                <fieldset class="mdl-color-text--blue-grey-400 material-icons"
                          onclick="this.form.save()"
                          style="font-size: 38px; cursor: pointer;vertical-align: middle;" role="presentation">save_alt
                </fieldset>
            </td>
        </tr>
    </table>
</div>
