<div style="padding: 10px;">
    <h4>PREVENTIVI ATTREZZATURE:</h4>
    <ul class="demo-list-three mdl-list">
        {{#each equipmentbudgets}}
        <li style="clear: both; min-height: 115px;padding: 8px;" class="mdl-shadow--2dp">
            <div  style="float: right; margin: 0 5px">
                <button type="button"
                        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="eb_{{this._id}}">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="eb_{{this._id}}">
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.delete('equipmentbudgets', '{{this._id}}')">ELIMINA</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.modify('equipmentbudgets', '{{this._id}}')">MODIFICA</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.preview('equipmentbudgets', '{{this._id}}')">ANTEPRIMA OFFERTA</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.email('equipmentbudgets', '{{this._id}}')">INVIA PER EMAIL</fieldset></li>
                    <li class="mdl-menu__item"><fieldset
                            class="mdl-color-text--grey-700"
                            style="display: block;"
                            onclick="this.form.order('equipmentbudgets', '{{this._id}}')">CREA ORDINE</fieldset></li>
                </ul>
            </div>
          <span>
              {{this.equipments}}<br/>
              CREATO: {{formatLongDate(this.created)}} - h.{{formatTime(this.created)}}<br/>
              VALIDITA': {{this.validity}} giorni<br/>
              {{this.clientName}}
          </span>
        </li>
        {{/each}}
    </ul>
</div>