<div #wrapper style="padding: 10px">
    <table width="100%" class="alternate-table">
        <tr>
            <th><fieldset onclick="this.form.sort('created')" style="cursor: pointer;">CREAZIONE</fieldset></th>
            <th><fieldset onclick="this.form.sort('surname')" style="cursor: pointer;">COGNOME</fieldset></th>
            <th><fieldset onclick="this.form.sort('name')" style="cursor: pointer;">NOME</fieldset></th>
            <th><fieldset onclick="this.form.sort('organization')" style="cursor: pointer;">ORGANIZZAZIONE</fieldset></th>
            <th>EMAIL</th>
            <th>STATO</th>
            <th>AUTORIZZAZIONE</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{formatShortDate(this.created)}}</td>
            <td>{{this.surname}}</td>
            <td>{{this.name}}</td>
            <td>{{this.organization}}</td>
            <td><a class="mdl-color-text--primary" href="mailto:{{this.email}}">{{this.email}}</a></td>
            <td>
                {{this.activeSelect}}
            </td>
            <td>
                {{this.select}}
            </td>
        </tr>
        {{/each}}
    </table>
</div>