<div #wrapper>
    <table #table width="100%" class="alternate-table">
        <tr>
            <th><fieldset onclick="this.form.sort('created')" style="cursor: pointer;">CREAZIONE</fieldset></th>
            <th><fieldset onclick="this.form.sort('surname')" style="cursor: pointer;">COGNOME</fieldset></th>
            <th><fieldset onclick="this.form.sort('name')" style="cursor: pointer;">NOME</fieldset></th>
            <th><fieldset onclick="this.form.sort('organization')" style="cursor: pointer;">ORGANIZZAZIONE</fieldset></th>
            <th>PROFITTO</th>
            <th>EMAIL</th>
            <th>STATO</th>
            <th>AUTORIZZAZIONE</th>
        </tr>
        {{#each users}}
        <tr>
            <td data-label="CREAZIONE: ">{{formatShortDate(this.created)}}&nbsp;</td>
            <td data-label="COGNOME: ">{{this.surname}}&nbsp;</td>
            <td data-label="NOME: ">{{this.name}}&nbsp;</td>
            <td data-label="ORGANIZZAZIONE: ">{{this.organizationSelect}}&nbsp;</td>
            <td data-label="PROFITTO: ">{{this.discount}}&nbsp;</td>
            <td data-label="EMAIL: "><a class="mdl-color-text--primary" href="mailto:{{this.email}}">{{this.email}}</a>&nbsp;</td>
            <td data-label="STATO: ">
                {{this.activeSelect}}&nbsp;
            </td>
            <td data-label="AUTORIZZAZIONE: ">
                {{this.select}}&nbsp;
            </td>
        </tr>
        {{/each}}
    </table>
</div>