<div #wrapper class="cgt-content" style="padding: 10px">
    <h3>BENVENUTO NEL CONFIGURATORE CGT EDILIZIA:</h3>
    <hr/>
    <p>Con questa applicazione web potrai:</p>
    <ul>
        <li><a onclick="window.navigate(this,event)" href="{{urls.vehicles.href}}">CONFIGURARE IL TUO CATERPILLAR</a></li>
        <li><a onclick="window.navigate(this,event)" href="{{urls.equipments.href}}">SCEGLIERE L’ATTREZZATURA</a></li>
        <li><a onclick="window.navigate(this,event)" href="{{urls.specialOffers.href}}">VISUALIZZARE LE OFFERTE SPECIALI</a></li>
        <li><a onclick="window.navigate(this,event)" href="{{urls.priceList.href}}">SCARICARE IL LISTINO PREZZI</a></li>
        <li><a onclick="window.navigate(this,event)" href="{{urls.budgets.href}}">VISUALIZZARE LE OFFERTE SALVATE</a></li>
        <li><a onclick="window.navigate(this,event)" href="{{urls.orders.href}}">VISUALIZZARE GLI ORDINI INVIATI</a></li>
    </ul>
</div>