<div #wrapper>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">
            Informativa privacy su operatività dei cookies – Art. 13 Codice della privacy
        </div>
        <div #privacy>
            <h5>
                Definizione di “cookie”
            </h5>
            <p>
                I cookies sono righe di testo usate per eseguire autenticazioni automatiche, tracciatura di
                sessioni e memorizzazione di informazioni specifiche riguardanti gli utenti che accedono al
                server, come ad esempio siti web preferiti.
            </p>
            <h5>Cookies Tecnici scopi e finalità del trattamento</h5>
            <p>
                I cookies utilizzati sul presente Sito, hanno il fine di eseguire autenticazioni informatiche o di
                monitorare e memorizzare sessioni riguardanti gli utenti che accedono ai server di {{system.name}}.
                Nuovo Apprendistato, pertanto, poiché consentono funzioni essenziali quali autenticazione,
                validazione, gestione di una sessione di navigazione e prevenzione delle frodi, alcune
                operazioni sul Sito non potrebbero essere compiute senza l'uso dei cookies, che in tali casi
                sono quindi tecnicamente necessari, ed in quanto tali, ai sensi dell’articolo 122, comma 1, del
                Codice della privacy, non necessitano del consenso dell’interessato.
            </p>
            <p>
                Cookies di Terze Parti
            </p>
            <p>
                Sul Sito, oltre ai cookies tecnici, l'utente/interessato, potrebbe ricevere sul suo terminale,
                anche cookies di siti o di web server diversi (c.d. cookies di "terze parti"), poiché sul Sito
                possono essere presenti elementi quali, ad esempio, immagini, suoni, specifici link a pagine
                web di altri domini che risiedono su server diversi da quello sul quale si trova la pagina,
                pertanto, possono essere inviati al browser dell’utente/interessato, da società terze
                direttamente dai loro siti web.
            </p>
            <p>
                In tali casi, S.APP. Nuovo Apprendistato, è estraneo alla operatività di tali cookies, il cui invio
                rientra nella responsabilità delle suddette società terze. A tal proposito, infatti, si riporta
                l’espressa indicazione del Garante per la privacy: “L'obbligo di informare l'utente sull'uso dei
                cookie e di acquisirne eventualmente il preventivo consenso incombe sul gestore del sito che li
                usa, in qualità di titolare del trattamento. Nel caso in cui un sito consenta la trasmissione anche
                di cookie di "terze parti", l'informativa e l'acquisizione del consenso sono di norma a carico del
                terzo. È necessario che l'utente venga adeguatamente informato, seppur con le modalità
                semplificate previste dalla legge, nel momento in cui accede al sito che consente la
                memorizzazione dei cookie terze parti, ovvero quando accede ai contenuti forniti dalle terze
                parti e, comunque, prima che i cookie vengano scaricati sul suo terminale”.
                Tutti i cookies che utilizziamo hanno lo scopo di permetterti di utilizzare al meglio il nostro
                sito. Tuttavia, se non vuoi ricevere dei cookies (eccetto quelli tecnici), puoi modificare le
                impostazioni del tuo browser per bloccare i cookies o ricevere una notifica ogni volta che un
                sito sta per salvare un cookie sul tuo PC. Si precisa che, in tal caso, alcune importanti funzioni
                del sito non saranno disponibili, pertanto, ti consigliamo di lasciare tutti i cookies abilitati.
            </p>
            <h5>Titolare e Responsabile del trattamento dei dati dell’interessato</h5>
            <p>
                Il Titolare del trattamento dei dati è la CGT EDILIZIA, nella persona del suo
                ..., con sede in ... .
                Il Responsabile del trattamento dei dati, è il ... con sede in ... .
                Il Responsabile esterno del trattamento dei dati è ... con sede in ...
                per la gestione informatica della piattaforma
            </p>
            <h5>Esercizio dei diritti da parte dell’interessato</h5>
            <p>
                In ogni momento sarà possibile, esercitare i diritti di cui all'art. 7 del Codice della privacy,
                l’esercizio dei predetti diritti, non è soggetto ad alcun vincolo di forma.
            </p>
            <p>
                Ai sensi del medesimo articolo si ha il diritto di chiedere la cancellazione, la trasformazione in
                forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi in ogni
                caso, per motivi legittimi, al loro trattamento.
            </p>
            <p>
                Dette richieste potranno pertanto essere indirizzate dall'utente scrivendo a:
            <ul>
                <li>...</li>
                <li>...</li>
            </ul>
            </p>
        </div>
    </div>
</div>