/* fallback */
html {
    scroll-behavior: smooth;
}
input::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: initial; }
.is-dirty input::-webkit-datetime-edit{ color: initial; }
input {    height: 18px;}
select {    height: 26px;}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.cgt-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.cgt-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 116px;
}
.cgt-avatar {
    width: 100%;
}
.cgt-menu-item-icon {
    vertical-align: middle;
    padding: 0 9px 0 0;
    font-size: 40px;
}
#progress {
    width: 100%;
    opacity: 0;
}

.alternate-table tr:nth-child(even) {
    background-color: #eeeeee;
}

.alternate-table tr:hover {
    background-color: rgba(174, 14, 14, 0.1);
}

table.alternate-table.blocks {
    border: 0;
}

table.alternate-table.blocks th {
    display: none;
}

table.alternate-table.blocks caption {
    font-size: 1.3em;
}

table.alternate-table.blocks thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

table.alternate-table.blocks tr {
    border-bottom: 5px dotted #ae0d0e;
    display: block;
    margin-bottom: .625em;
}

table.alternate-table.blocks td {
    border-bottom: 1px solid #ddd;
    display: block !important;
    font-size: .8em;
    text-align: left;
}

table.alternate-table.blocks td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 150px;
}

table.alternate-table.blocks td:last-child {
    border-bottom: 0;
}

.scale-up {
    animation: scale-up 0.5s ease-out;
}

@keyframes scale-up {
    50% {
        transform: scale(2, 2);
        opacity: 0;
    }
    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }
    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}
