#wrapper {

}

#searchwrapper {
  position: fixed;
  top: 60px;
  background: white;
  height: 40px;
  z-index: 2;
  width: 100%;
  padding: 0 15px 9px 0px;
  text-align: center;
}

.two-lines #searchwrapper {
  height: 80px;
}

#items {
  margin-top: 20px;
}

.two-lines #items {
  margin-top: 60px;
}
