<div #wrapper>
    <div class="mdl-grid">
        {{#each familys}}
        <div class="mdl-cell mdl-cell--4-col mdl-card">
            <div class="mdl-card__title mdl-color--primary mdl-color-text--primary-contrast">{{this.name}}</div>
            <div style="padding: 10px">
                {{this.checkboxes}}
            </div>
        </div>
        {{/each}}
    </div>
    <div style="text-align: center;">
        <button type="button"
                style="margin-bottom: 10px"
                onclick="this.form.download(false)"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            SCARICA LISTINO
        </button>
        <button type="button"
                style="margin-bottom: 10px; display: {{minimumOn}}"
                onclick="this.form.download(true)"
                class="mdl-button mdl-color--accent mdl-color-text--accent-contrast mdl-cell--6-col mdl-cell--order-12-phone">
            SCARICA CON MINIMI DI VENDITA
        </button>
    </div>
    <br/>
</div>